<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Confirm registration</title>
</head>
  <body>
    <p>
      Hello,
    </p>
    <p>
      To confirm your registration please click the link
    </p>
    <p>
      <a href="{{ email_confirm_url }}">
        <strong style="text-decoration: underline;">
          {{ email_confirm_url }}
        </strong>
      </a>
    </p>
    <p>
      Thanks.
    </p>
  </body>
</html>
