// Here you can add other styles

.auth-error-field {
  padding: 3px;
  font-size: 12px;
  color: red;
}

.custom-container {
  max-width: 1300px!important;
  margin: 0 auto;
}

.custom-container-xs {
  max-width: 875px;
  margin: 0 auto;
}

.custom-container-sm {
  max-width: 900px;
  margin: 0 auto;
}

.custom-container-md {
  max-width: 1024px;
}

.pr-left-container {
  margin: 0 auto;
  max-width: 266px;
 }

.custom-photo-upload-wrap {
  position: relative;
  background: linear-gradient(to right, red, purple);
  padding: 3px;
  box-sizing: border-box;
}

.custom-photo-upload {
  width: 260px;
  height: 260px;
  position: relative;

  label {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    cursor: pointer;
  }

  label:hover + .footer, .footer:hover {
    z-index: 5;
  }

  .footer {
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0;
    top: 200px;
    background: rgba(0, 0, 0, 0.3);
    z-index: -5;
    display: flex;
    justify-content: center;

    img {
      height: 80%;
      color: black;
    }
  }

  input {
    display: none;
  }

  .image-preview {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.pr-edit-btn {
  padding: 3px;
  cursor: pointer;
  border: 1.5px solid rgba(0, 0, 0, 0);
}

.pr-edit-btn:hover {
  border: 1.5px solid blue;
  border-radius: 4px;
}

.cursor-pointer {
  cursor: pointer;
}

.container-code-editor__qxcy .line-numbers__qxcy {
  font-size: 0.9em;
}


